.cell{
    position: relative;
    .iconfont{
        top: 3rpx;
        position: relative;
    }
    .slot{
        display: inline-block;
    }
    &:first-child{
        &:after{
            display: none;
        }
    }
    &.full, &.flexible{
        &:after{
            position: absolute;
            top:0;
            height: 1rpx;
            background-color: #eeeeee;
            content: '';
        }
    }
    &.full{
        &:after{
            right: 0rpx;
            width: 100vw;
        }
    }
    &.flexible{
        &:after{
            right: 30rpx;
            width: 87vw;
        }
    }
}