@import '../lib/mixin';

$aligns:(center, left, right, justify);
.align{
    @include list-factory($aligns, text-align);
}

$verticals:(middle, baseline, top);
.vertical{
    @include list-factory($verticals, vertical-align);
    
}
.vertical-middle{
    & > view,
    &:after{
        display: inline-block;
        vertical-align: middle;
    }
    &:after{
        height: 100%;
        content: '';
        visibility: hidden;
    }
}