.button{
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    appearance: none;
    border: none;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
