@import '../lib/vars';
@import '../lib/mixin';
/*************************
 $size
**************************/
$base    : 20rpx;//基数
$multiple: 2;    //倍数
$sizes:(
    mini  : 0,
    tiny  : 1,
    small : 2,
    base  : 3,
    medium: 5,
    large : 8,
    big   : 11
);
.fonts{
    @each $name, $val in $sizes {
        &.#{$name}{
            font-size: $base + $val * $multiple;
        }
    }
}
/*************************
 $color
**************************/
.fonts{
    @for $i from 1 through 10 {
        $black:map-get($palette, black);
        &.gray#{$i}{
            color: lighten($black, 10% * $i);
        }
    }
    @include palette-factory($palette, color);
}
/*************************
 $weight
**************************/
.fonts{
    @for $i from 1 through 9 {
        &.bold#{$i}{
            font-weight: $i * 100;
        }
    }
}


